@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
    <head>
	    <meta charset="utf-8">
	    <title>Результат</title>
        <link rel="stylesheet" href=~/css/Valute.css />
    </head>
    <body>
        <div class="main_frame">
            <div>
                <h1>Успех!</h1>
            </div>
            <a href="~/Home/TaskOne">JS</a>
            <a href="~/Home">С#</a>
        </div>
    </body>
</html>